---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Hero from "../components/Hero.astro";
import FeatureList from "../components/FeatureList.astro";
import Backstory from "../components/Backstory.astro";
import OSSection from "../components/OSSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <ThemeToggle />
  <main>
    <Hero />
    <FeatureList />
    <Backstory />
    <OSSection />
  </main>
  <Footer />
</Layout>
